@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --color-background-neutral: 240, 239, 235;
      --color-text-neutral: 24,24,24;
      --color-text-accent: #fae633;
  }

}
